@model IEnumerable<D.Models.Product>


    <table class="table-bordered table-striped" id="AddGoods">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Designation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price_with_vat)
                </th>
                <th>
                    @Html.DisplayName("Количество")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (D.Models.Product item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price_with_vat)
                    </td>
                    <td>
                        @Html.Hidden("ProductID")
                        @Html.TextBox("ProductQuantity", 0)
                    </td>
                    <td>

                        @Html.ActionLink("Удалить", "DelFromList", "Order", new { id = item.ProductID }, null)
                    </td>


                </tr>
            }
        </tbody>
    </table>


