@model IEnumerable<D.Models.Сотрудник>


@using D.Models


        @foreach (Сотрудник p in Model)
        {
            <tr>
                <td>
                    <strong>@Html.HiddenFor(modelItem => p.Табельный_номер) @Html.DisplayTextFor(modelItem => p.Фамилия)</strong>
                </td>
                <td><strong>@Html.DisplayTextFor(modelItem => p.Имя)</strong></td>
                <td><strong>@Html.DisplayTextFor(modelItem => p.Отчество)</strong></td>
                <td><strong>@Html.DisplayTextFor(modelItem => p.Должность)</strong></td>
            </tr>

        }
    

