@model IEnumerable<D.Models.Employee>


@using D.Models


        @foreach (Employee p in Model)
        {
            <tr>
                <td>
                    <strong>@Html.HiddenFor(modelItem => p.PersonnelNumber) @Html.DisplayTextFor(modelItem => p.LastName)</strong>
                </td>
                <td><strong>@Html.DisplayTextFor(modelItem => p.Name)</strong></td>
                <td><strong>@Html.DisplayTextFor(modelItem => p.Patronymic)</strong></td>
                <td><strong>@Html.DisplayTextFor(modelItem => p.Position)</strong></td>
            </tr>

        }
    

