@model D.Models.Товар

    
        <tr>
            <td class="text-center">
               @Html.Hidden("ID_заказа") @Html.HiddenFor(p => p.ID_товара) @Model.Обозначение
                </td>
            <td class="text-center">@Model.Наименование</td>
            <td class="text-center">@Model.Единица_измерения</td>
            <td class="text-center">@Model.Цена.Value.ToString("0.00")</td>
            <td class="text-center">@Model.Цена_с_НДС.Value.ToString("0.00")</td>



            </tr>
                

                
                



