@model D.Models.Product

    
        <tr>
            <td class="text-center">
               @Html.Hidden("OrderID") @Html.HiddenFor(p => p.ProductID) @Model.Designation
                </td>
            <td class="text-center">@Model.Name</td>
            <td class="text-center">@Model.Unit_of_measurement</td>
            <td class="text-center">@Model.Price.Value.ToString("0.00")</td>
            <td class="text-center">@Model.Price_with_vat.Value.ToString("0.00")</td>



            </tr>
                

                
                



