@model IEnumerable<D.Models.Поставщик>

@{
    ViewBag.Title = "Поставщики";
}

@Html.Partial("_SideMenuProvider")
@*<div style="display:@ViewBag.a !important;margin-top:10px">Ничего не найдено.</div>*@

<div id="table">
    <div class="test-border" style="display:@ViewBag.b">
        <table class="table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("УНП Поставщика", "Index", new { sort = ViewBag.UnpSortParm }, new { @class = "Theader" })
                    </th>
                    <th>
                        @Html.ActionLink("Название организации", "Index", new { sort = ViewBag.NameSortParm }, new { @class = "Theader" })
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Адрес)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Телефон)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Описание)
                    </th>
                    <th class="dontPrint"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.УНП_поставщика)
                            @Html.HiddenFor(modelItem => item.УНП_поставщика)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Название_организации)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Адрес)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Телефон)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Описание)
                        </td>
                        <td class="dontPrint">
                            <a href='@Url.Action("Edit",new { id = item.УНП_поставщика })'><img src='~/Content/png/edit.png' /></a>
                            <a href='@Url.Action("Delete",new { id = item.УНП_поставщика })'><img src='~/Content/png/error.png' /></a>
                            @*<a href='@Url.Action("Details",new { id = item.УНП_поставщика })'><img src='~/Content/png/more-1.png' /></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
    <div class="scrollup">
        <!-- Иконка fa-chevron-up (Font Awesome) -->
        <i class="glyphicon glyphicon-chevron-up"></i>
    </div>

    <script>
        $(function () {
            // при нажатии на кнопку scrollup
            $('.scrollup').click(function () {
                // переместиться в верхнюю часть страницы
                $("html, body").animate({
                    scrollTop: 0
                }, 500);
            })
        })
        // при прокрутке окна (window)
        $(window).scroll(function () {
            // если пользователь прокрутил страницу более чем на 200px
            if ($(this).scrollTop() > 200) {
                // то сделать кнопку scrollup видимой
                $('.scrollup').fadeIn();
            }
                // иначе скрыть кнопку scrollup
            else {
                $('.scrollup').fadeOut();
            }
        });
    </script>
    <script>

        window.onload = function () {

            document.getElementById('toggler').onclick = function () {
                openbox('box', this);

                return false;

            };



            function openbox(id, toggler) {

                var div = document.getElementById(id);

                if (div.style.display == 'block') {

                    div.style.display = 'none';

                    toggler.style.background = 'none';

                }

                else {

                    div.style.display = 'block';

                    toggler.style.background = '#BC0000';

                }

            }


        };
    </script>

    <script type="text/javascript">
        $(function () {
            $("[data-autocomplete-source]").each(function () {
                var target = $(this);
                target.autocomplete({ source: target.attr("data-autocomplete-source") });
            });
        });
    </script>

<script>

$(document).ready(function(){

    $(".table-hover tbody tr td:not(.dontPrint)").click(
        function ()
        {
            var ID = $(this).parent().find("input[name='item.УНП_поставщика']").val();
                     $.ajax({
                method: "GET",url: "@Url.Action("Details")/"+ID}).done( function (data) {
                $('.body-content').html(data);
            });
        });


});

</script>