@model D.Models.Employee

<script>
    $(document).ready(function () {

            $("ul.navbar-nav li:contains('Сотрудники')").addClass("active");



    $(document).on('click', '#tbEmployee tbody tr', function () {
        var ID = $(this).children()[0].innerText;
        var url = "@Url.Action("Details")/" + ID;
        document.location.href = url;
    });

     

            $("[data-readonly]").on('keydown paste', function (e) {
                e.preventDefault();
            });

            $('#tbEmployee').DataTable({
                serverSide: true,
                ajax: {
                    "type": "POST",
                    "url": '/Employee/ReportData',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) { return data = JSON.stringify(data); },
                    "dataSrc": function (json) {
                        for (var i = 0, end = json.data.length; i < end; i++)
                        { json.data[i].BirstDate = new Date(parseInt((json.data[i].BirstDate).substr(6))).toLocaleDateString(); }
                        return json.data;
                    }

                },
                "columns": [

               { "data": "PersonnelNumber" },
               { "data": "LastName" },
               { "data": "Name" },
               { "data": "Patronymic" },
               { "data": "Position" },
               { "data": "Telephone" },
               { "data": "BirstDate" }
                ],

                buttons: [{
                    fade: 500,
                    autoClose: true,
                    className: 'btn btn-xs',
                    extend: 'collection',
                    text: 'Экспорт',
                    buttons: [{
                        extend: 'copy', text: 'Копировать', className: 'btn btn-xs', exportOptions: {
                            modifier: {
                                order: 'current',
                                page: 'current',
                                search: 'applied'
                            }
                        }
                    }
                , {
                    extend: 'excel', className: 'btn btn-xs', exportOptions: {
                        modifier: {
                            order: 'current',
                            page: 'current',
                            search: 'applied'
                        }
                    }
                }, {
                    extend: 'pdf', className: 'btn btn-xs', orientation: 'landscape', pageSize: 'A5', exportOptions: {
                        modifier: {
                            order: 'current',
                            page: 'current',
                            search: 'applied'
                        }
                    }
                }, {
                    extend: 'print', text: 'Печать', className: 'btn btn-xs', exportOptions: {
                        modifier: {
                            order: 'current',
                            page: 'current',
                            search: 'applied'
                        }
                    }
                }
                    ]
                }, { extend: 'colvis', text: 'Видимость столбцов', className: 'btn btn-xs' }],
                //"preDrawCallback": function (settings) {

                //    $('#divForTable').fadeIn(1000);

                //},

                stateSave: true,
                "stateDuration": 60 * 60 * 24,
                "order": [],
                fixedHeader: true,
                "autoWidth": false,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],
                "language": {
                    "lengthMenu": "Показывать _MENU_ записей",
                    "info": "Показаны записи с _START_ по _END_ из _TOTAL_",
                    "infoFiltered": " (Найдено из _MAX_)",
                    "emptyTable": "Нет данных для отображения",
                    "infoEmpty": "Показаны записи с 0 по 0 из 0",
                    "infoPostFix": "",
                    "thousands": ",",
                    "loadingRecords": "Загрузка...",
                    "processing": "Обработка...",
                    "search": "Поиск в отчете:",
                    "zeroRecords": "Ничего не найдено",
                    "paginate": {
                        "first": "Первая",
                        "last": "Последняя",
                        "next": "Следующая",
                        "previous": "Предыдущая"
                    },
                    buttons: {
                        copyTitle: 'Данные скопированы',
                        copyKeys: 'Используйте клавиатуру или меню для выбора команды',
                        copyTitle: 'Копирование в буфер',
                        copySuccess: {
                            1: "Скопирована одна запись в буфер",
                            _: "Скопировано %d записей в буфер"
                        },
                    }
                },


                "dom": "<'row'<'col-sm-4'l><'col-sm-4'B><'col-sm-4'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                         "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "processing": true,

                fixedHeader: true
                //"pagingType": "full_numbers"
            });


      

            



            });


</script>


<div class="row">
    <div class="col-lg-2">
       
    </div>

    <div id="dvForTable" class="col-lg-9 col-lg-offset-0">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Главная</a></li>
            <li><a href="@Url.Action("Index","Employee")">Сотрудники</a></li>
            <li class="active">Отчет</li>

        </ol>

        <h4>Отчет по сотрудникам старше 60 лет</h4>
        <hr />
        <table class="table-bordered table-striped table-hover table table-condensed" id="tbEmployee">
            <colgroup>
                <col width="9%">
                <col>
                <col width="10%">
                <col width="10%">
                <col width="35%">
                <col width="10%">
                <col
                <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.PersonnelNumber)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Patronymic)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Position)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Telephone)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.BirstDate)
                    </th>
                </tr>
            </thead>
            <tbody class="text-center"></tbody>

        </table>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="scrollup">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>


@section scripts {
    <script type="text/javascript" src="/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />

}



