@model D.Models.Employee
<div id="mdChart" class="modal" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">График результативности продавцов</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div id="chart" class="col-xs-12 col-lg-12">


                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<script>
    $("ul.navbar-nav li:contains('Сотрудники')").addClass("active");

   

    $(document).on('click', '#tbEmployee tbody tr', function () {
        var ID = $(this).children()[0].innerText;
        var url = "@Url.Action("Details")/" + ID;
        document.location.href = url;
    });

    $(document).ready(function () {
        $('#tbEmployee').DataTable({
            serverSide: true,
            ajax: {
                "type": "POST",
                "url": '/Employee/Table',
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) { return data = JSON.stringify(data); },
                "dataSrc": function (json) {
                    for (var i = 0, end = json.data.length; i < end; i++)
                    { json.data[i].BirstDate = new Date(parseInt((json.data[i].BirstDate).substr(6))).toLocaleDateString(); }
                    return json.data;
                }

            },
            "columns": [

           { "data": "PersonnelNumber" },
           { "data": "LastName" },
           { "data": "Name" },
           { "data": "Patronymic" },
           { "data": "Position" },
           { "data": "Telephone" },
           { "data": "BirstDate" }
            ],
            buttons: [{
                fade: 500,
                autoClose: true,
                className: 'btn btn-xs',
                extend: 'collection',
                text: 'Экспорт',
                buttons: [{
                    extend: 'copy', text: 'Копировать', className: 'btn btn-xs', exportOptions: {
                        modifier: {
                            order: 'current',
                            page: 'current',
                            search: 'applied'
                        }
                    }
                }
            , {
                extend: 'excel', className: 'btn btn-xs', exportOptions: {
                    modifier: {
                        order: 'current',
                        page: 'current',
                        search: 'applied'
                    }
                }
            }, {
                extend: 'pdf', className: 'btn btn-xs', orientation: 'landscape', pageSize: 'A4', exportOptions: {
                    modifier: {
                        order: 'current',
                        page: 'current',
                        search: 'applied'
                    }
                }
            }, {
                extend: 'print', text: 'Печать', className: 'btn btn-xs', exportOptions: {
                    modifier: {
                        order: 'current',
                        page: 'current',
                        search: 'applied'
                    }
                }
            }
                ]
            }, { extend: 'colvis', text: 'Видимость столбцов', className: 'btn btn-xs' }],
            "preDrawCallback": function (settings) {

                $('#divForTable').fadeIn(1000);

            },
            "processing": true,
            stateSave: true,
            "stateDuration": 60 * 60 * 24,
            "order": [],
            fixedHeader: true,
            "autoWidth": false,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],
            "language": {
                "lengthMenu": "Показывать _MENU_ записей",
                "info": "Показаны записи с _START_ по _END_ из _TOTAL_",
                "infoFiltered": " (Найдено из _MAX_)",
                "emptyTable": "Нет данных для отображения",
                "infoEmpty": "Показаны записи с 0 по 0 из 0",
                "infoPostFix": "",
                "thousands": ",",
                "loadingRecords": "Загрузка...",
                "processing": "Обработка...",
                "search": "Поиск:",
                "zeroRecords": "Ничего не найдено",
                "paginate": {
                    "first": "Первая",
                    "last": "Последняя",
                    "next": "Следующая",
                    "previous": "Предыдущая"
                },
                buttons: {
                    copyTitle: 'Данные скопированы',
                    copyKeys: 'Используйте клавиатуру или меню для выбора команды',
                    copyTitle: 'Копирование в буфер',
                    copySuccess: {
                        1: "Скопирована одна запись в буфер",
                        _: "Скопировано %d записей в буфер"
                    },
                }
            },


            "dom": "<'row'<'col-sm-4'l><'col-sm-4'B><'col-sm-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                     "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            "processing": true,

            fixedHeader: true
            //"pagingType": "full_numbers"
        });
    });
</script>
@Html.Partial("_ModalCreate")
<div class="row">
    <div class="col-lg-2 col-xs-12"></div>
    <div class="col-lg-9 col-lg-offset-0">
        <ol class="breadcrumb">
            <li><a href="/Home">Главная</a></li>
            <li class="active">Сотрудники</li>

        </ol>

    </div>
    <div class="col-lg-1"></div>

</div>

<div class="row">
    <div class="col-lg-2">@Html.Partial("_SideMenuEmployee")</div>
    <div class="col-lg-9 col-lg-offset-0">

        <table class="table-bordered table-striped table-hover table table-condensed" id="tbEmployee">
            <colgroup>
                <col width="9%">
                <col >
                <col width="10%">
                <col width="10%">
                <col width="35%">
                <col width="10%">
                <col <col width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.PersonnelNumber)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Patronymic)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Position)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Telephone)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.BirstDate)
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">
         
            </tbody>

        </table>
    </div>
    <div class="col-lg-1"></div>
</div>









<div class="scrollup">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>





<script type="text/javascript" src="~/Scripts/jsapi.js"></script>


<script type="text/javascript">
                 // Подгружаем API
            google.load('visualization', '1.0', { 'packages': ['corechart'] });

            // Устанавливаем callback
            google.setOnLoadCallback(drawChart);

            function drawChart() {

                var options = {
                    //'title': 'График результативности продавцов',
                    'width': 500,
                    'height': 400,
                    is3D: true,
                    //pieSliceText: 'label',
                    //backgroundColor: "#DADDE2",
                    chartArea: { left: 70, top: 40, width: '100%', height: '100%' },
                    pieSliceText: "percentage",
                    tooltip: { showColorCode: true, text: "value" },
                };

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Employees');
                data.addColumn('number', 'Orders');

                $.getJSON('@Url.Action("GetDataForChart", "Employee")', null,
                                                                        function (result) {
                                                                            if (result.Employees.length) {
                                                                                $.each(result.Employees, function (index, c) {
                                                                                    data.addRow([c.Name, c.Value]);
                                                                                });
                                                                                // Отрисовка диаграммы
                                                                                var chart = new google.visualization.PieChart(
                                                                                document.getElementById('chart'));
                                                                                chart.draw(data, options);
                                                                            };
                                                                        });
            };
</script>

@section scripts {
    <script type="text/javascript" src="/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />

}
