@model D.Models.Заказ

@{
    ViewBag.Title = "Удаление заказа";
}


<h3>Вы действительно хотите удалить этот заказ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Дата_заказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_заказа)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Сумма_заказа_с_НДС)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сумма_заказа_с_НДС)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Статус_заказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Статус_заказа)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Клиент.Название_организации)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Клиент.Название_организации)
        </dd>

        
        <dt></dt>
        <dd>@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn btn-danger delbtn" />
            </div>
        }</dd>

        
        

    </dl>

    
    @*@Html.ActionLink("<<", "Index")*@


</div>
