@model IEnumerable<D.Models.CustomerEnt>
<script>

    $("ul.navbar-nav li:contains('Клиенты')").addClass("active");

    $(document).on('click', '#tbCustomerEnt tbody tr', function () {
        var ID = $(this).find("input[name='item.ID_клиента']").val();
        var url = "@Url.Action("Details")/" + ID;
        document.location.href = url;
    });

    $(document).ready(function () {
        $('#tbCustomerEnt').DataTable({
            buttons: [{
                fade: 500,
                autoClose: true,
                className: 'btn btn-xs',
                extend: 'collection',
                text: 'Экспорт',
                buttons: [{
                    extend: 'copy', text: 'Копировать', className: 'btn btn-xs', exportOptions: {
                        modifier: {
                            order: 'current',
                            page: 'current',
                            search: 'applied'
                        }
                    }
                }
            , {
                extend: 'excel', className: 'btn btn-xs', exportOptions: {
                    modifier: {
                        order: 'current',
                        page: 'current',
                        search: 'applied'
                    }
                }
            }, {
                extend: 'pdf', className: 'btn btn-xs', orientation: 'landscape', pageSize: 'A5', exportOptions: {
                    modifier: {
                        order: 'current',
                        page: 'current',
                        search: 'applied'
                    }
                }
            }, {
                extend: 'print', text: 'Печать', className: 'btn btn-xs', exportOptions: {
                    modifier: {
                        order: 'current',
                        page: 'current',
                        search: 'applied'
                    }
                }
            }
                ]
            }, { extend: 'colvis', text: 'Видимость столбцов', className: 'btn btn-xs' }],
            "preDrawCallback": function (settings) {

                $('#divForTable').fadeIn(1000);

            },
            "processing": true,
            stateSave: true,
            "stateDuration": 60 * 60 * 24,
            "order": [],
            fixedHeader: true,
            "autoWidth": false,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],
            "language": {
                "lengthMenu": "Показывать _MENU_ записей",
                "info": "Показаны записи с _START_ по _END_ из _TOTAL_",
                "infoFiltered": " (Найдено из _MAX_)",
                "emptyTable": "Нет данных для отображения",
                "infoEmpty": "Показаны записи с 0 по 0 из 0",
                "infoPostFix": "",
                "thousands": ",",
                "loadingRecords": "Загрузка...",
                "processing": "Обработка...",
                "search": "Поиск:",
                "zeroRecords": "Ничего не найдено",
                "paginate": {
                    "first": "Первая",
                    "last": "Последняя",
                    "next": "Следующая",
                    "previous": "Предыдущая"
                },
                buttons: {
                    copyTitle: 'Данные скопированы',
                    copyKeys: 'Используйте клавиатуру или меню для выбора команды',
                    copyTitle: 'Копирование в буфер',
                    copySuccess: {
                        1: "Скопирована одна запись в буфер",
                        _: "Скопировано %d записей в буфер"
                    },
                }
            },


            "dom": "<'row'<'col-sm-4'l><'col-sm-4'B><'col-sm-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                     "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            "processing": true,

            fixedHeader: true
            //"pagingType": "full_numbers"
        });
    });
</script>
<div class="row">
    <div class="col-lg-2">@Html.Partial("_SideMenuClients")</div>
    <div class="col-lg-9 col-lg-offset-0" @*id="divForTable"*@>

        <table class="table-bordered table-striped table-hover table table-condensed " id="tbCustomerEnt" cellspacing="0">
            <colgroup>
                <col width="15%">
                <col width="35%">
                <col width="15%">
                <col >
            </colgroup>
            <thead>
                <tr>

                    <th class="text-center">
                        @*@Ajax.ActionLink("УНП клиента", "Sorting", new { sort = ViewBag.UnpSortParm }, ajaxOptions, new { @class = "Theader" })*@
                        @Html.DisplayNameFor(model => model.УНП_Клиента)
                    </th>
                    <th class="text-center">
                        @*@Ajax.ActionLink("Название организации", "Sorting", new { sort = ViewBag.NameSortParm }, ajaxOptions, new { @class = "Theader" })*@
                        @Html.DisplayNameFor(model => model.Название_организации)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Телефон)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Адрес)
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>

                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.УНП_Клиента)
                            @Html.HiddenFor(modelItem=>item.ID_клиента)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Название_организации)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Телефон)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Адрес)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        </div>
    <div class="col-lg-1"></div>
    </div>


<div id="mdNewCustomerEnt" class="modal faden" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Новый клиент (Юридическое лицо)</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <fieldset>

                               @using (Html.BeginForm("Create","Клиент",FormMethod.Post))
                               {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                   
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="form-group">
                                        @Html.Label("УНП Клиента", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-7">
                                            @Html.Editor("УНП_Клиента", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessage("УНП_Клиента", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Название организации", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-7">
                                            @Html.Editor("Название_организации", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessage("Название_организации", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Телефон", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-7">
                                            @Html.Editor("Телефон", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessage("Телефон", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Адрес", htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-7">
                                            @Html.Editor("Адрес", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessage("Адрес", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                        <button type="submit" class="btn btn-success">Добавить клиента</button>
                                    </div>
                                </div>
                               }
                            </fieldset>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="scrollup">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>