@model D.Models.Сотрудник
@{
    ViewBag.Title = "О сотруднике";
}


<div class="container">
    <div class="well bs-component">
        <div class="row">
            <div class="col-xs-12 col-lg-12">

                <fieldset>
                    <legend>
                        <ul class="nav">
                            <li class="">
                                <a data-toggle="dropdown" class="dropdown-toggle" style="color:black;">Карточка сотрудника  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#EditModal" data-toggle="modal"> Редактировать</a> </li>
                                    <li><a href="#DeleteModal" data-toggle="modal">Удалить</a></li>
                                </ul>
                            </li>
                        </ul>
                    </legend>


                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Фамилия)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Фамилия)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Имя)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Имя)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Отчество)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Отчество)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Должность)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Должность)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Телефон)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Телефон)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Номер_паспорта)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Номер_паспорта)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Дата_рождения)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Дата_рождения)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Адрес)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Адрес)
                            </dd>
                        </dl>
                    </div>



                </fieldset>
            </div>

        </div>
    </div>



</div>

<div id="DeleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Вы действительно хотите удалить этого сотрудника?</h4>
            </div>
            <div class="modal-body">


                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Фамилия)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Фамилия)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Имя)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Имя)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Отчество)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Отчество)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Должность)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Должность)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Телефон)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Телефон)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Номер_паспорта)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Номер_паспорта)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Дата_рождения)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Дата_рождения)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Адрес)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Адрес)
                    </dd>

                </dl>
            </div>




            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Сотрудник", new { id = Model.Табельный_номер }, FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>

                    <button type="submit" class="btn btn-danger">Удалить</button>

                }
            </div>
        </div>



    </div>
</div>

<div id="EditModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Редактирование сотрудника</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <fieldset>
                                @using (Html.BeginForm("Edit", "Сотрудник", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">

                                        @Html.HiddenFor(model => model.Табельный_номер)



                                        <div class="form-group has-feedback">
                                            @Html.LabelFor(model => model.Фамилия, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Фамилия, new { htmlAttributes = new { @class = "form-control", @pattern = "[^\\s0-9][A-Za-zА-Яа-яЁё\\s]{0,20}" } })
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            @Html.LabelFor(model => model.Имя, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Имя, new { htmlAttributes = new { @class = "form-control", @pattern = "[^\\s0-9][A-Za-zА-Яа-яЁё\\s]{0,20}" } })
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            @Html.LabelFor(model => model.Отчество, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Отчество, new { htmlAttributes = new { @class = "form-control", @pattern = "[^\\s0-9][A-Za-zА-Яа-яЁё\\s]{0,20}" } })
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            @Html.LabelFor(model => model.Телефон, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Телефон, new { htmlAttributes = new { @class = "form-control", @pattern = "[0-9\\+\\(\\)-]{4,20}" } })
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            @Html.LabelFor(model => model.Адрес, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Адрес, new { htmlAttributes = new { @class = "form-control", @pattern = "[A-Za-zА-Яа-яЁё\\s]{0,250}" } })
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            @Html.LabelFor(model => model.Должность, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Должность, new { htmlAttributes = new { @class = "form-control", @pattern = "[^\\s0-9][A-Za-zА-Яа-яЁё\\s]{0,200}" } })
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            @Html.LabelFor(model => model.Номер_паспорта, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Номер_паспорта, new { htmlAttributes = new { @class = "form-control", @pattern = "[^\\s][A-Za-zА-Яа-яЁё0-9]{0,50}" } })
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Дата_рождения, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7 input-group date" id="datetimepicker1">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                @*@Html.TextBoxFor(model => model.Дата_рождения, new { @class = "form-control", @Value = Model.Дата_рождения.Value.ToShortDateString() } )*@
                                                <input type="text" id="Дата_рождения" name="Дата_рождения" class="form-control" required data-readonly value="@Model.Дата_рождения.Value.ToShortDateString()"/>

                                                
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                          $(function () {
                                            //Идентификатор элемента HTML (например: #datetimepicker1), для которого необходимо инициализировать виджет "Bootstrap datetimepicker"
                                              $('#datetimepicker1').datetimepicker({ pickTime: false, language: 'ru' });
                                          });
                                        </script>


                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                }

                            </fieldset>
                        </div>
                        <div class="col-xs-0 col-lg-6"></div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />

}
  
