<div id="mdNewOrder" class="modal faden" data-keyboard="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Новый заказ</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">


                            <fieldset>

                                @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @id = "fmNewOrder" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">


                                        <div class="form-group">
                                            @Html.Label("Дата заказа", htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7 input-group date" id="datetimepicker1">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon-calendar glyphicon"></span>
                                                </span>
                                                @Html.TextBox("OrderDate", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })



                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker1').datetimepicker({ pickTime: false, language: 'ru' });
                                    });
                                        </script>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Клиент</label>
                                            <div class="col-md-7">
                                                <div class="indoorBtnDiv input-group">
                                                    <input type="hidden" id="iptCustomerHidden" value="" name="" />
                                                    <input id="indoorText" class="form-control" name="Клиент" type="text" value="" readonly required />
                                                    <div class="input-group-btn">
                                                        <a href="#mdChoiceClient" id="btChoiceCustomer"class="indoorBtn btn btn-default" data-toggle="modal">+</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <script>
                                    $(document).ready(function () {

                                        $('#tbCustomerEnts').DataTable({

                                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],

                                            "processing": true,
                                            "order": [[1, 'desc']],
                                            fixedHeader: true,
                                            "autoWidth": false,
                                            "language": {
                                                "lengthMenu": "Показывать _MENU_ записей",
                                                "info": "Показаны записи с _START_ по _END_ из _TOTAL_ записей",
                                                "infoFiltered": " (Найдено из _MAX_ записей)",
                                                "emptyTable": "Нет данных для отображения",
                                                "infoEmpty": "Показаны записи с 0 по 0 из 0 записей",
                                                "infoPostFix": "",
                                                "thousands": ",",
                                                "loadingRecords": "Загрузка...",
                                                "processing": "Обработка...",
                                                "search": "Поиск:",
                                                "zeroRecords": "Ничего не найдено",
                                                "paginate": {
                                                    "first": "Первая",
                                                    "last": "Последняя",
                                                    "next": "Следующая",
                                                    "previous": "Предыдущая"
                                                }
                                            },

                                            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                                                    "<'row'<'col-sm-12'tr>>" +
                                                     "<'row'<'col-sm-0'><'col-sm-12'p>>",
                                            "columnDefs": [
                                        { "width": "25%", "targets": 0 },
                                        { "width": "25%", "targets": 1 }
                                            ],
                                            fixedHeader: true,
                                            "paging": true
                                        });

                                        $('#tbCustomerInds').DataTable({

                                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],

                                            "processing": true,
                                            "order": [[1, 'desc']],
                                            fixedHeader: true,
                                            "autoWidth": false,
                                            "language": {
                                                "lengthMenu": "Показывать _MENU_ записей",
                                                "info": "Показаны записи с _START_ по _END_ из _TOTAL_ записей",
                                                "infoFiltered": " (Найдено из _MAX_ записей)",
                                                "emptyTable": "Нет данных для отображения",
                                                "infoEmpty": "Показаны записи с 0 по 0 из 0 записей",
                                                "infoPostFix": "",
                                                "thousands": ",",
                                                "loadingRecords": "Загрузка...",
                                                "processing": "Обработка...",
                                                "search": "Поиск:",
                                                "zeroRecords": "Ничего не найдено",
                                                "paginate": {
                                                    "first": "Первая",
                                                    "last": "Последняя",
                                                    "next": "Следующая",
                                                    "previous": "Предыдущая"
                                                }
                                            },

                                            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                                                    "<'row'<'col-sm-12'tr>>" +
                                                     "<'row'<'col-sm-0'><'col-sm-12'p>>",
                                            "columnDefs": [
                                        { "width": "25%", "targets": 0 },
                                        { "width": "25%", "targets": 1 }
                                            ],
                                            fixedHeader: true,
                                            "paging": true
                                        });


                                        $('#mdNewOrder').modal('handleUpdate');

                                        $('.tbChoice').DataTable({

                                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],

                                            "processing": true,
                                            "order": [[1, 'desc']],
                                            fixedHeader: true,
                                            "autoWidth": false,
                                            "language": {
                                                "lengthMenu": "Показывать _MENU_ записей",
                                                "info": "Показаны записи с _START_ по _END_ из _TOTAL_ записей",
                                                "infoFiltered": " (Найдено из _MAX_ записей)",
                                                "emptyTable": "Нет данных для отображения",
                                                "infoEmpty": "Показаны записи с 0 по 0 из 0 записей",
                                                "infoPostFix": "",
                                                "thousands": ",",
                                                "loadingRecords": "Загрузка...",
                                                "processing": "Обработка...",
                                                "search": "Поиск:",
                                                "zeroRecords": "Ничего не найдено",
                                                "paginate": {
                                                    "first": "Первая",
                                                    "last": "Последняя",
                                                    "next": "Следующая",
                                                    "previous": "Предыдущая"
                                                }
                                            },

                                            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                                                    "<'row'<'col-sm-12'tr>>" +
                                                     "<'row'<'col-sm-0'><'col-sm-12'p>>",
                                            "columnDefs": [
                                        { "width": "25%", "targets": 0 },
                                        { "width": "25%", "targets": 1 }
                                            ],
                                            fixedHeader: true,
                                            "paging": true
                                        });


                                        $(document).on('click', '#btChoiceClient', (function () {

                                            var id = $('.chosen input[type=hidden]').attr("value");

                                            if ($(".chosen").parent().parent().attr("id") == "tbCustomerEnts") {

                                                var name = $(".table-striped .chosen strong")[1].innerText;
                                                $("#iptCustomerHidden").attr("name", "ClientID");
                                                $("#iptCustomerHidden").val(id);


                                            }
                                            else {

                                                var name = $(".table-striped .chosen strong")[0].innerText + " " + $(".table-striped .chosen strong")[1].innerText;
                                                $("#iptCustomerHidden").attr("name", "CustomerIndId");
                                                $("#iptCustomerHidden").val(id);

                                            }
                                            $("#indoorText").val(name);

                                            $('.table-striped tr').removeClass('chosen');
                                            $("#btChoiceClient").attr("disabled", "disabled");


                                        }));

                                        $(document).on('click', '#btEmployeeChoice', (function () {

                                            var id = $('.chosen input[type=hidden]').attr("value");

                                            var name = $("#tbEmployeeChoice .chosen strong")[0].innerText;

                                            $("#indoorTextEmployee").val(name);
                                            $("#mdNewOrder input[name='PersonnelNumber']").val(id);
                                            $('#tbEmployeeChoice tr').removeClass('chosen');
                                            $("#btEmployeeChoice").attr("disabled", "disabled");


                                        }));


                                        $("#btChoiceCustomer").click(function () {


                                            $("#dvCustomerLink").css("display", "block");
                                            $("#dvCustomerEnts").css("display", "none");
                                            $("#dvCustomerInds").css("display", "none");
                                        });

                                        $('#fmNewOrder').submit(function () {
                                            var rows = $("#tbGoodsChosen tbody tr");
                                            for (var i = 0; i < rows.length; i++) {
                                                $("input[name='ProductID']", rows[i]).attr('name', 'Orderings[' + i + '].ProductID');
                                                $("input[name='ProductQuantity']", rows[i]).attr('name', 'Orderings[' + i + '].ProductQuantity');
                                            }

                                            return true;
                                        });

                                        $("#lkCustomerEnts").click(function () {
                                            $("#dvCustomerLink").css("display", "none");
                                            $("#dvCustomerEnts").css("display", "block");
                                        });

                                        $("#lkCustomerInds").click(function () {
                                            $("#dvCustomerLink").css("display", "none");
                                            $("#dvCustomerInds").css("display", "block");
                                        })

                                    });


                                        </script>




                                        <div class="form-group">
                                            <label class="control-label col-md-3">Сотрудник</label>
                                            <div class="col-md-7">
                                                <div class="indoorBtnDiv input-group">
                                                    <input type="hidden" value="" name="PersonnelNumber" />
                                                    <input id="indoorTextEmployee" class="form-control" name="Emp" type="text" value="" readonly required />
                                                    <div class="input-group-btn">
                                                        <a href="#mdEmployeeChoice" class="indoorBtn btn btn-default" data-toggle="modal">+</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-md-7 col-md-offset-3">
                                                <div class="input-group">

                                                    <div class="input-group-btn">
                                                        <a href="#mdGoodsChoice" class="btn btn-default" data-toggle="modal">Добавить товар в заказ</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <table class="table-bordered table-striped" id="tbGoodsChosen">
                                            <colgroup>
                                                <col width="25%">
                                                <col width="25%">
                                            </colgroup>
                                            <thead>

                                                <tr>
                                                    <th class="text-center">Обозначение</th>
                                                    <th class="text-center">Наименование</th>
                                                    <th class="text-center">Ед.изм.</th>

                                                    <th class="text-center">Цена</th>
                                                    <th class="text-center">Цена с НДС</th>
                                                    <th class="text-center">Количество</th>
                                                    <th class="text-center"></th>

                                                </tr>

                                            </thead>
                                            <tbody></tbody>
                                        </table>



                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default clear" data-dismiss="modal">Закрыть</button>
                                            <button type="submit" class="btn btn-success">Добавить заказ</button>
                                        </div>
                                    </div>
                                }
                            </fieldset>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<div id="mdChoiceClient" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Выберите клиента</h4>
            </div>
            <div class="modal-body">
               <div id="dvCustomerLink"><a id="lkCustomerEnts" href=#>Юридические лица</a>     <a id="lkCustomerInds"href=#>Физические лица</a></div>
                <div id="dvCustomerEnts">
                    @Html.Action("AllCustomerEnts")
                </div>
                <div id="dvCustomerInds">
                    @Html.Action("AllCustomerInds") 
                    </div>

                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="btChoiceClient" disabled>Выбрать</button>
            </div>
        </div>
    </div>
</div>
<div id="mdEmployeeChoice" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Выберите сотрудника</h4>
            </div>
            <div class="modal-body">
                <table class="table-bordered table-striped tbChoice modalTable" id="tbEmployeeChoice">
                    <colgroup>
                        <col width="25%">
                        <col width="20%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>

                    <thead>
                        <tr>
                            <th class="text-center">Фамилия</th>
                            <th class="text-center">Имя</th>
                            <th class="text-center">Отчество</th>
                            <th class="text-center">Должность</th>
                        </tr>

                    </thead>
                    <tbody>
                        @Html.Action("AllEmployee")
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="btEmployeeChoice" disabled>Выбрать</button>
            </div>
        </div>
    </div>
</div>
<div id="mdGoodsChoice" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Выберите товар</h4>
            </div>
            <div class="modal-body" id="dvGoodsChoice">

                @Html.Action("AllGoods")

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="btChoiceGoods" disabled>Выбрать</button>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).on('click', '#tbGoodsChoice tbody tr', (function () {

        if ($(this).is('.chosen')) {
            $(this).removeClass('chosen');
        }
        else {
            $(this).toggleClass('chosen');
        }

        if ($('#tbGoodsChoice tr .chosen')) {
           
                $("#btChoiceGoods").removeAttr("disabled");
            }

        if (!($("tr").is(".chosen"))) {
            $("#btChoiceGoods").attr("disabled", "disabled");
        }
    }));


    var tableGoodsChosen = $("#tbGoodsChosen").DataTable({

        //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],

        //"processing": true,
        //"order": [[1, 'desc']],
        fixedHeader: true,
        "autoWidth": false,
        "language": {
            "lengthMenu": "Показывать _MENU_ записей",
            "info": "Показаны записи с _START_ по _END_ из _TOTAL_ записей",
            "infoFiltered": " (Найдено из _MAX_ записей)",
            "emptyTable": "Нет данных для отображения",
            "infoEmpty": "Показаны записи с 0 по 0 из 0 записей",
            "infoPostFix": "",
            "thousands": ",",
            "loadingRecords": "Загрузка...",
            "processing": "Обработка...",
            "search": "Поиск:",
            "zeroRecords": "Ничего не найдено",
            "paginate": {
                "first": "Первая",
                "last": "Последняя",
                "next": "Следующая",
                "previous": "Предыдущая"
            }
        },

        "dom": "<'row'<'col-sm-6'><'col-sm-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                 "<'row'<'col-sm-0'><'col-sm-12'>>",
        "columnDefs": [
    { "width": "25%", "targets": 0 },
    { "width": "25%", "targets": 1 }
        ],
        fixedHeader: true,
        "paging": true
    });

    $('#btChoiceGoods').click(function () {


        var tr = $('#tbGoodsChoice tr.chosen');
        var table = $('#tbGoodsChoice').DataTable();

        var rows = table
            .rows('.chosen')
            .remove()
            .draw();
       
        var tr1 = tr.append('<td class="text-center"><input type="number" min="1" max="2147483647" name="ProductQuantity" style="width:70px;" value="1" required /></td><td class="text-center"><a class="glyphicon glyphicon-remove" style="text-decoration:none;color:#E81C2C"></a></td>');
        tableGoodsChosen.rows.add(tr1).draw();
        //$('#tbGoodsChosen > tbody:last-child').append(tr);
        $('#tbGoodsChosen tr.chosen').removeClass('chosen').removeClass('odd').removeAttr("role").addClass('added');
        //$('#tbGoodsChosen tbody tr.added').append('<td class="text-center"><input type="number" min="1" max="2147483647" name="Количество" style="width:70px;" value="1" required /></td><td class="text-center"><a class="glyphicon glyphicon-remove" style="text-decoration:none;color:#E81C2C"></a></td>');
        $('#tbGoodsChosen tbody tr.added').removeClass('added');
        $('#tbGoodsChosen tr').unbind('click');

        @*$.ajax({method: "GET",url: "@Url.Action("AllGoods")"}).done( function (data) {
            $('#dvGoodsChoice').html(data);
        });*@
    });

    $("#mdNewOrder button.clear").click(function () {
        $("#mdNewOrder input[type='text']").val(null);



        $('#tbGoodsChosen').DataTable()
            .rows()
            .remove()
            .draw();
    });

    $(document).on("click", ".glyphicon-remove", function () {
        $('#tbGoodsChosen').DataTable()
            .row($(this).closest("tr"))
            .remove()
            .draw();
    });


</script>