@model IEnumerable<D.Models.Поставщик>
@using D.Models


@{
    ViewBag.Title = "Добавление поставщика для товара";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="well bs-component">
                <fieldset>
                    <legend>Добавление поставщика для товара</legend>
                    @using (Html.BeginForm("AddP", "Товар"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">



                            <div class="form-group">
                                @Html.Label("Обозначение", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.Hidden("id", "", new { @value = @ViewBag.Item.ID_товара })
                                    @Html.TextBox("Обозначение", "", new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.Item.Обозначение })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Наименование", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextBox("Наименование", "", new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.Item.Наименование })
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-3">Поставщик</label>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <input id="indoorText" class="form-control" data-val="true" data-val-number="The field УНП_поставщика must be a number." data-val-required="Требуется поле УНП_поставщика." name="u" type="text" value="" readonly />
                                        <div class="input-group-btn">
                                            <a href="#ChoiceProv" class="btn btn-default" data-toggle="modal"  >+</a>
                                        </div>
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="УНП_поставщика" data-valmsg-replace="true"></span>
                                    @Html.ActionLink("Добавить поставщика", "Create", "Поставщик")

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Цена", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.Editor("price", "", new { htmlAttributes = new { @class = "form-control",@type="number",@min="0" } })
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-7">
                                    <input type="submit" value="Добавить" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </fieldset>
            </div>
        </div>
    </div>
</div>



<div id="ChoiceProv" class="modal fade" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Выберите поставщика</h4>
            </div>
            <div class="modal-body">
                <table class="table-bordered table-striped" id="tbProviders">
                    <colgroup>
                        <col width="5%">
                        <col width="10%">
                    </colgroup>
                    
                    <thead>
                        <tr>
                            <th class="text-center">УНП</th>
                            <th class="text-center">Поставщик</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (Поставщик item in Model)
            {


                            <tr class="text-center">
                                <td>
                                    <strong>@Html.HiddenFor(modelItem => item.УНП_поставщика) @Html.DisplayTextFor(modelItem => item.УНП_поставщика)</strong>
                                </td>
                                <td><strong>@Html.DisplayTextFor(modelItem => item.Название_организации)</strong></td>

                            </tr>





                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="btChoiceProv" disabled>Выбрать</button>
            </div>
        </div>
    </div>
</div>



