@model D.Models.Товар


@{
    ViewBag.Title = "Новый товар";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="well bs-component">
                <fieldset>
                    <legend>Новый товар</legend>
                    @using (Html.BeginForm("Create", "Товар", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Обозначение, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Обозначение, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Обозначение, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Наименование, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Наименование, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Наименование, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Краткое_описание, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.TextAreaFor(model => model.Краткое_описание, 2, 46, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Краткое_описание, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Единица_измерения, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.DropDownListFor(model => model.Единица_измерения, new SelectList(new[] { "шт", "комплект", "кг", "л", "т", "г" }), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Единица_измерения, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Остаток_на_складе, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Остаток_на_складе, new { htmlAttributes = new { @class = "form-control", @Value = "0", @required = "required", @min = "0" } })
                                    @Html.ValidationMessageFor(model => model.Остаток_на_складе, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Срок_поставки, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Срок_поставки, new { htmlAttributes = new { @class = "form-control", @Value = "0", @required = "required", @min = "0" } })
                                    @Html.ValidationMessageFor(model => model.Срок_поставки, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Вес, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.Вес, new { htmlAttributes = new { @class = "form-control", @Value = "0", @required = "required", @min = "0" } })
                                    @Html.ValidationMessageFor(model => model.Вес, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Цена, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-7">
                                    @Html.ValidationMessageFor(model => model.Цена, "", new { @class = "text-danger" })
                                    @Html.EditorFor(model => model.Цена, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Поставщик</label>
                                <div class="col-md-7">
                                    <div class="indoorBtnDiv input-group">
                                        <input id="indoorText" class="form-control" data-val="true" data-val-number="The field УНП_поставщика must be a number." data-val-required="Требуется поле УНП_поставщика." name="УНП_поставщика" type="text" value="" readonly />
                                        <div class="input-group-btn">
                                            <a href="#ChoiceProv" class="indoorBtn btn btn-default" data-toggle="modal">+</a>
                            </div>
                                        </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="УНП_поставщика" data-valmsg-replace="true"></span>@*<br />*@
                                    @Html.ActionLink("Добавить поставщика", "Create", "Поставщик")

                                </div>
                            </div>
                            


                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-7">
                                    <input type="submit" value="Добавить товар" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                    </fieldset>
                </div>
            </div>
        </div>
    <div id="ChoiceProv" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Выберите поставщика</h4>
                </div>
                <div class="modal-body">
                    <table class="table-bordered table-striped" id="tbProviders">
                        <colgroup>
                            <col width="5%">
                            <col width="10%">
                        </colgroup>
                        
                        <thead>
                            <tr>
                                <th class="text-center">УНП</th>
                                <th class="text-center">Поставщик</th>
                            </tr>

                        </thead>
                        <tbody>
                            @Html.Action("AllProviders")
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="btChoiceProv" disabled>Выбрать</button>
                </div>
            </div>
        </div>
    </div>
</div>
