@model D.Models.Товар

@{
    ViewBag.Title = "Удаление товара";
}


<h3>Вы действительно хотите удалить этот товар?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Наименование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Краткое_описание)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Краткое_описание)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Цена)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Цена)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Остаток_на_складе)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Остаток_на_складе)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Единица_измерения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Единица_измерения)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Срок_поставки)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Срок_поставки)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Цена_с_НДС)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Цена_с_НДС)
        </dd>
        
        <dt></dt>
        <dd>@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn btn-danger delbtn" />

            </div>
        }</dd>

    </dl>

    
    @*@Html.ActionLink("<<", "Index")*@
</div>
