@model IEnumerable<D.Models.Товар>

@{
    ViewBag.Title = "Ведомость остатков";
}
<div id="header" class="test-border1">
    <table class="table-bordered table-striped table-hover" id="TableHeader">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Обозначение)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Наименование)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Единица_измерения)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Остаток_на_складе)
                </th>
            </tr>
        </thead>
    </table>
</div>

<div class="test-border">
    <table class="table-bordered table-striped" id="Table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Обозначение)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Наименование)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Единица_измерения)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Остаток_на_складе)
            </th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Обозначение)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Наименование)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Единица_измерения)
                </td>

                <td style="font-weight:bold">
                    @Html.DisplayFor(modelItem => item.Остаток_на_складе)
                </td>
            </tr>
        }

    </table>

   
    
</div>

<div class="scrollup">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>









