@model IEnumerable<D.Models.Товар>


<script>
    $(document).on('click', '#tbGoods tbody tr', function () {
        var ID = $(this).find("input[name='item.ID_товара']").val();
        var url = "@Url.Action("Details")/" + ID;
        document.location.href = url;        
    });

    $("ul.navbar-nav li:contains('Товары')").addClass("active");
</script>

<div class="row">
    <div class="col-lg-2">@Html.Partial("_SideMenuGoods")</div>
    <div class="col-lg-9 col-lg-offset-0" @*id="divForTable"*@>
                    <table class="table-bordered table-striped table-hover table table-condensed " id="tbGoods" cellspacing="0">
                        <colgroup>
                            <col width="25%">
                            <col width="25%">
                        </colgroup>
                       
                        <thead>
                            <tr >
                                <th class="text-center">

                                    @*@Html.ActionLink("Обозначение ", "Table", new { sort = ViewBag.NumSortParm, search = ViewBag.SearhRequest }, new { @class = "Theader" })@Html.Raw(ViewBag.Num)*@
                                    @Html.DisplayNameFor(model => model.Обозначение)
                                </th>
                                <th class="text-center">
                                    @*@Html.ActionLink("Наименование", "Table", new { sort = ViewBag.NameSortParm, search = ViewBag.SearhRequest }, new { @class = "Theader" })@Html.Raw(ViewBag.Name)*@
                                    @Html.DisplayNameFor(model => model.Наименование)
                                </th>

                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Единица_измерения)
                                </th>

                                <th class="text-center @ViewBag.Price">
                                    @*@Html.ActionLink("Остаток", "Table", new { sort = ViewBag.OstSortParm, search = ViewBag.SearhRequest }, new { @class = "Theader" })@Html.Raw(ViewBag.Ost)*@
                                    @Html.DisplayNameFor(model => model.Остаток_на_складе)
                                </th>
                                <th class="text-center @ViewBag.Ost @ViewBag.Price">
                                    @*@Html.ActionLink("Поставка, дней", "Table", new { sort = ViewBag.DaySortParm, search = ViewBag.SearhRequest }, new { @class = "Theader" })@Html.Raw(ViewBag.Day)*@
                                    @Html.DisplayNameFor(model => model.Срок_поставки)
                                </th>
                                <th class="text-center @ViewBag.Ost @ViewBag.Price">
                                    @*@Html.ActionLink("Вес, г", "Table", new { sort = ViewBag.WeightSortParm, search = ViewBag.SearhRequest }, new { @class = "Theader" })@Html.Raw(ViewBag.Weight)*@
                                    @Html.DisplayNameFor(model => model.Вес)
                                </th>
                                <th class="text-center @ViewBag.Ost">
                                    @*@Html.ActionLink("Цена", "Table", new { sort = ViewBag.PriceSortParm, search = ViewBag.SearhRequest }, new { @class = "Theader" })@Html.Raw(ViewBag.Price)*@
                                    @Html.DisplayNameFor(model => model.Цена)
                                </th>

                                <th class="text-center @ViewBag.Ost">
                                    @*@Html.ActionLink("Цена с НДС", "Table", new { sort = ViewBag.PriceVatSortParm, search = ViewBag.SearhRequest }, new { @class = "Theader" })@Html.Raw(ViewBag.PriceVat)*@
                                    @Html.DisplayNameFor(model => model.Цена_с_НДС)
                                </th>
                                @*<th class="dontPrint"></th>*@
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model)
            {
                                <tr>
                                    <td class="text-left">
                                        @Html.DisplayFor(modelItem => item.Обозначение)
                                        @Html.HiddenFor(modelItem => item.ID_товара)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Наименование)
                                    </td>

                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Единица_измерения)
                                    </td>

                                    <td class="text-center @ViewBag.Price">
                                        @Html.DisplayFor(modelItem => item.Остаток_на_складе)
                                    </td>
                                    <td class="text-center @ViewBag.Ost @ViewBag.Price">
                                        @Html.DisplayFor(modelItem => item.Срок_поставки)
                                    </td>
                                    <td class="text-center @ViewBag.Ost @ViewBag.Price">
                                        @Html.DisplayFor(modelItem => item.Вес)
                                    </td>
                                    <td class="text-center @ViewBag.Ost">
                                        @Html.DisplayFor(modelItem => item.Цена)
                                    </td>

                                    <td class="text-center @ViewBag.Ost">
                                        @Html.DisplayFor(modelItem => item.Цена_с_НДС)
                                    </td>
                                    @*<td class="dontPrint">
                                        <a href='@Url.Action("Edit",new { id = item.ID_товара }  )'><img src='~/Content/png/edit.png' /></a>
                                        <a href='@Url.Action("Delete",new { id = item.ID_товара })'><img src='~/Content/png/error.png' /></a>

                                    </td>*@
                                </tr>
                            }

                        </tbody>


                    </table>
               

    </div>
    <div class="col-lg-1"></div>
    </div>

<div id="mdNewGood" class="modal modal-lg faden" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Новый товар</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                                <fieldset>
                                   
                                    @using (Html.BeginForm("Create", "Товар", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="form-group">
                                                @Html.Label("Обозначение", htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-7">
                                                    @Html.Editor("Обозначение", new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessage("Обозначение", "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.Label("Наименование", htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-7">
                                                    @Html.Editor("Наименование", new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessage("Наименование", "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.Label("Краткое описание", htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-7">
                                                    @Html.TextArea("Краткое_описание",null, 2, 46, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Краткое_описание", "", new { @class = "text-danger" })
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                @Html.Label("Единица измерения", htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-7">
                                                    @Html.DropDownList("Единица_измерения", new SelectList(new[] { "шт", "комплект", "кг", "л", "т", "г" }), new { @class = "form-control" })
                                                    @Html.ValidationMessage("Единица_измерения", "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Остаток на складе", htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-7">
                                                    @Html.Editor("Остаток_на_складе", new { htmlAttributes = new { @class = "form-control", @Value = "0", @required = "required", @min = "0" } })
                                                    @Html.ValidationMessage("Остаток_на_складе", "", new { @class = "text-danger" })
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                @Html.Label("Срок поставки", htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-7">
                                                    @Html.Editor("Срок_поставки", new { htmlAttributes = new { @class = "form-control", @Value = "0", @required = "required", @min = "0" } })
                                                    @Html.ValidationMessage("Срок_поставки", "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.Label("Вес", htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-7">
                                                    @Html.Editor("Вес", new { htmlAttributes = new { @class = "form-control", @Value = "0", @required = "required", @min = "0" } })
                                                    @Html.ValidationMessage("Вес", "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.Label("Цена", htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-7">
                                                    @Html.ValidationMessage("Цена", "", new { @class = "text-danger" })
                                                    @Html.Editor("Цена", new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-3">Поставщик</label>
                                                <div class="col-md-7">
                                                    <div class="indoorBtnDiv input-group">
                                                        <input id="hidNameProv" type="hidden" value="" name="Поставщик_цена[0].УНП_поставщика" />
                                                        <input id="indoorText" class="form-control"  name="tbxNameProv" type="text" value="" readonly />
                                                        <div class="input-group-btn">
                                                            <a href="#ChoiceProv" class="indoorBtn btn btn-default" data-toggle="modal">+</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <script>

                                               

                                                
                                            </script>


                                            
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                                        <button type="submit"  class="btn btn-success" >Добавить товар</button>
                                                    </div>

                                                    
                                                
                                        </div>
                                    }
                                </fieldset>
                           
                        </div>
                    </div>
                   
                </div>

            </div>
            
        </div>
    </div>
</div>

<div id="ChoiceProv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Выберите поставщика</h4>
            </div>
            <div class="modal-body">
                <table class="table-bordered table-striped" id="tbProviders">
                    <colgroup>
                        <col width="5%">
                        <col width="10%">
                    </colgroup>

                    <thead>
                        <tr>
                            <th class="text-center">УНП</th>
                            <th class="text-center">Поставщик</th>
                        </tr>

                    </thead>
                    <tbody>
                        @Html.Action("AllProviders")
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="btChoiceProv" disabled>Выбрать</button>
            </div>
        </div>
    </div>
</div>

<div class="scrollup">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>