@model D.Models.CustomerInd

@{
    ViewBag.Title = "Детали";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <div class="pencildiv">
        <div class="CustomerName"><p>@Html.TextBoxFor(model => model.FirstName, new { @class = "nameEdit" }) @Html.TextBoxFor(model => model.LastName, new { @class = "nameEdit" }) @Html.TextBoxFor(model => model.Patronymic, new { @class = "nameEdit" })</p></div>

        </div>
        <div>
            <hr />
            <div class="regDate">
                @Html.DisplayFor(model => model.RegisteredDate)
                @Html.HiddenFor(model=>model.RegisteredDate)
            </div>
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PassportId)
                @Html.HiddenFor(model=>model.CustomerIndId)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.PassportId,new { @class = "text-box single-line form-control" })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control text-box single-line" })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control text-box single-line" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirstDate)
            </dt>

            <dd >
                <div class="col-md-10 input-group date" id="datetimepicker1">
                    <span class="input-group-addon">
                        <span class="glyphicon-calendar glyphicon"></span>
                    </span>
                    @{ string str = @Model.BirstDate != null ? @Model.BirstDate.ToShortDateString() : "";}


                    @Html.TextBoxFor(model => model.BirstDate, new { @class = "form-control text-box single-line", @readonly = "readonly", @required = "required" , @Value = @str })

                    @Html.ValidationMessageFor(model => model.BirstDate, "", new { @class = "text-danger" })


                </div>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Adress)
            </dt>

            <dd>
                <div>@Html.TextAreaFor(model => model.Adress,5,46, new { @class = "form-control" })</div>
            </dd>

        </dl>
        <fieldset>
            <legend>@Html.DisplayNameFor(model => model.Description)</legend>
            @Html.TextAreaFor(model => model.Description,3,70,new { @class= "textarea form-control" })
        </fieldset>
    </div>
        <input type="submit" value="Сохранить" class="btn btn-success" />
}

@section scripts{

    <script type="text/javascript" src="/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />
}

