@model IEnumerable<D.Models.CustomerEnt>
<div class="test-border" >
    <table class="table-bordered table-striped">

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.УНП_Клиента)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Название_организации)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Телефон)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Адрес)
            </th>
            
            <th class="dontPrint"></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.УНП_Клиента)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Название_организации)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Телефон)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Адрес)
                </td>
                <td class="dontPrint">
                    <a href='@Url.Action("Edit",new { id = item.ID_клиента })'><img src='~/Content/png/edit.png' /></a>
                    <a href='@Url.Action("Delete",new { id = item.ID_клиента })'><img src='~/Content/png/error.png' /></a>
                </td>
            </tr>
        }

    </table>
</div>







