@model IEnumerable<D.Models.Денежное_поступление>
<script>
    $("ul.navbar-nav li:contains('Денежные')").addClass("active");



        
    $(document).on('click', '#tbMoney tbody tr', function () {
        var ID = $(this).find("input[name='item.ID_поступления']").val();
        var url = "@Url.Action("Details")/" + ID;
        document.location.href = url;
    });



    $(document).ready(function () {
        var tableO=$('#tbMoney').DataTable({
            buttons: [{
                fade: 500,
                autoClose: true,
                className: 'btn btn-xs',
                extend: 'collection',
                text: 'Экспорт',
                buttons: [{
                    extend: 'copy', text: 'Копировать', className: 'btn btn-xs', exportOptions: {
                        modifier: {
                            order: 'current',
                            page: 'current',
                            search: 'applied'
                        }
                    }
                }
            , {
                extend: 'excel', className: 'btn btn-xs', exportOptions: {
                    modifier: {
                        order: 'current',
                        page: 'current',
                        search: 'applied'
                    }
                }
            }, {
                extend: 'pdf', className: 'btn btn-xs', orientation: 'landscape', pageSize: 'A5', exportOptions: {
                    modifier: {
                        order: 'current',
                        page: 'current',
                        search: 'applied'
                    }
                }
            }, {
                extend: 'print', text: 'Печать', className: 'btn btn-xs', exportOptions: {
                    modifier: {
                        order: 'current',
                        page: 'current',
                        search: 'applied'
                    }
                }
            }
                ]
            }, { extend: 'colvis', text: 'Видимость столбцов', className: 'btn btn-xs' }],
            "preDrawCallback": function (settings) {

                $('#divForTable').fadeIn(1000);

            },
            "processing": true,
            stateSave: true,
            "stateDuration": 60 * 60 * 24,
            "order": [],
            fixedHeader: true,
            "autoWidth": false,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],
            "language": {
                "lengthMenu": "Показывать _MENU_ записей",
                "info": "Показаны записи с _START_ по _END_ из _TOTAL_",
                "infoFiltered": " (Найдено из _MAX_)",
                "emptyTable": "Нет данных для отображения",
                "infoEmpty": "Показаны записи с 0 по 0 из 0",
                "infoPostFix": "",
                "thousands": ",",
                "loadingRecords": "Загрузка...",
                "processing": "Обработка...",
                "search": "Поиск:",
                "zeroRecords": "Ничего не найдено",
                "paginate": {
                    "first": "Первая",
                    "last": "Последняя",
                    "next": "Следующая",
                    "previous": "Предыдущая"
                },
                buttons: {
                    copyTitle: 'Данные скопированы',
                    copyKeys: 'Используйте клавиатуру или меню для выбора команды',
                    copyTitle: 'Копирование в буфер',
                    copySuccess: {
                        1: "Скопирована одна запись в буфер",
                        _: "Скопировано %d записей в буфер"
                    },
                }
            },


            "dom": "<'row'<'col-sm-4'l><'col-sm-4'B><'col-sm-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                     "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            "processing": true,

            fixedHeader: true
            //"pagingType": "full_numbers"
        });

        //$(function () {
        //    $('#datetimepicker1').datetimepicker({ pickTime: false, language: 'ru' });
        //    $(".datepicker").datetimepicker({ pickTime: false, language: 'ru' });
        //});

        function DateToSeconds(date) {
            var arr = date.split('.');
            return Date.parse(arr[2] + '-' + arr[1] + '-' + arr[0]);
        };

        $.fn.dataTable.ext.search.push(
    function (settings, data, dataIndex) {

        if (settings.nTable.id == "tbMoney") {
            var start = $('input[name="start"]').val();
            var end = $('input[name="end"]').val();

            return DateToSeconds(data[1]) >= DateToSeconds(start) && DateToSeconds(data[1]) <= DateToSeconds(end) ? true : false;
        }
        return true;

    }
);



        $("input[name='start'],input[name='end']").on('change', function () {

            tableO.draw();

        });

        $('#lkOrderPeriod').click(function () {
            $('input[name="start"]').val(null);
            $('input[name="end"]').val(null);
            if ($('#dvPeriodSearch').css("display") == 'none') {
                $('#dvPeriodSearch').css("display", "block");
            }
            else {
                $('#dvPeriodSearch').css("display", "none");
            }
        });
    });

    
</script>

<script type="text/javascript">

            $(function () {
                $('#dtpStart').datetimepicker({ pickTime: false, language: 'ru' });
            });
            $(function () {
                $('#dtpEnd').datetimepicker({ pickTime: false, language: 'ru' });
            });
</script>
<div class="row">
    <div class="col-lg-2">@Html.Partial("_SideMenuMoney")</div>
    <div class="col-lg-9 col-lg-offset-0">


        <table class="table-bordered table-striped table-hover table table-condensed" id="tbMoney">
            <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col >
                <col width="15%">
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ID_поступления)
                    </th>
                    <th class="text-center">
                     
                        @Html.DisplayNameFor(model => model.Дата_поступления)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.CustomerEnt.УНП_Клиента)
                </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.CustomerEnt.Название_организации)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Сумма)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ID_поступления)
                            @Html.HiddenFor(modelItem => item.ID_поступления)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Дата_поступления)
                        </td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.CustomerEnt.УНП_Клиента)</td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.CustomerEnt.Название_организации)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Сумма)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>

<div id="mdNewMoney" class="modal modal-lg faden" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Новое поступление</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <fieldset>

                                @using (Html.BeginForm("Create", "Денежное_поступление", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group">
                                            @Html.Label("Дата поступления", htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7 input-group date" id="datetimepicker1">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon-calendar glyphicon"></span>
                                                </span>
                                                @Html.TextBox("Дата_поступления", null, new { @class = "form-control", @readonly = "readonly", @required = "required" })



                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                          $(function () {
                                            //Идентификатор элемента HTML (например: #datetimepicker1), для которого необходимо инициализировать виджет "Bootstrap datetimepicker"
                                              $('#datetimepicker1').datetimepicker({ pickTime: false, language: 'ru' });
                                          });
                                        </script>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Клиент</label>
                                            <div class="col-md-7">
                                                <div class="indoorBtnDiv input-group">
                                                    <input id="hidNameProv" type="hidden" value="" name="ID_клиента" />
                                                    <input id="indoorText" class="form-control" name="tbxNameClient" type="text" value="" readonly required/>
                                                    <div class="input-group-btn">
                                                        <a href="#ChoiceProv" class="indoorBtn btn btn-default" data-toggle="modal">+</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>





                                        <div class="form-group has-feedback">
                                            @Html.Label("Сумма", htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-7">
                                                @Html.Editor("Сумма", new { htmlAttributes = new { @class = "form-control", @pattern = @"\d+(,\d{1,2})?" } })
                                                <span class="glyphicon form-control-feedback"></span>
                                            </div>
                                        </div>




                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            <button type="submit" class="btn btn-success">Добавить поступление</button>
                                        </div>
                                    </div>
                                }
                            </fieldset>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<div id="ChoiceProv" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Выберите клиента</h4>
            </div>
            <div class="modal-body">
                <table class="table-bordered table-striped" id="tbProviders">
                    <colgroup>
                        <col width="5%">
                        <col width="10%">
                    </colgroup>

                    <thead>
                        <tr>
                            <th class="text-center">УНП</th>
                            <th class="text-center">Клиент</th>
                        </tr>

                    </thead>
                    <tbody>
                        @Html.Action("AllClients")
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="btChoiceProv" disabled>Выбрать</button>
            </div>
        </div>
    </div>
</div>
<div class="scrollup">
    <i class="glyphicon glyphicon-chevron-up"></i>
</div>


@section scripts {
    <script type="text/javascript" src="/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />

}
